---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span>
        {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
    <link
      rel="stylesheet"
      type='text/css'
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
                                                                                                                                                                                                                                                                                                                                                                                                                            rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
 cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}
    <!-- icons -->
    <div class="social">
      <div class="contact-icons" id="ds">
        <i class="devicon-anaconda-original "></i>
        <i class="devicon-json-plain "></i>
        <i class="devicon-kaggle-original "></i>
        <i class="devicon-matplotlib-plain "></i>
        <i class="devicon-networkx-plain "></i>
        <i class="devicon-numpy-plain "></i>
        <i class="devicon-opencv-plain "></i>
        <i class="devicon-pandas-plain "></i>
        <i class="devicon-python-plain "></i>
        <i class="devicon-pytorch-original "></i>
        <i class="devicon-scikitlearn-plain "></i>
      </div>
      <div class="contact-icons" id="backend">
        <i class="devicon-bash-plain "></i>
        <i class="devicon-c-plain "></i>
        <i class="devicon-centos-plain "></i>
        <i class="devicon-cplusplus-plain "></i>
        <i class="devicon-gcc-plain "></i>
        <i class="devicon-linux-plain "></i>
        <i class="devicon-mysql-original "></i>
        <i class="devicon-ssh-original "></i>
        <i class="devicon-redis-plain "></i>
        <i class="devicon-sqlite-plain "></i>
        <i class="devicon-ubuntu-plain "></i>
      </div>
      <div class="contact-icons" id="tools">
        <i class="devicon-cmake-plain "></i>
        <i class="devicon-docker-plain "></i>
        <i class="devicon-git-plain "></i>
        <i class="devicon-gitbook-original "></i>
        <i class="devicon-gitlab-plain "></i>
        <i class="devicon-latex-original "></i>
        <i class="devicon-markdown-original "></i>
        <i class="devicon-powershell-plain "></i>
        <i class="devicon-vim-plain "></i>
        <i class="devicon-vscode-plain "></i>
        <i class="devicon-yaml-plain "></i>
      </div>
      <div class="contact-icons" id="others">
        <i class="devicon-chrome-plain "></i>
        <i class="devicon-css3-plain "></i>
        <i class="devicon-d3js-plain "></i>
        <i class="devicon-google-plain "></i>
        <i class="devicon-html5-plain "></i>
        <i class="devicon-hugo-plain "></i>
        <i class="devicon-javascript-plain "></i>
        <i class="devicon-notion-plain"></i>
        <i class="devicon-spss-plain "></i>
        <i class="devicon-stackoverflow-plain "></i>
        <i class="devicon-stata-original-wordmark "></i>
      </div>
    </div>
    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>